<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mabatis.org//DTD Mapper 3.0//EN"
						"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.co.kr.mapper.InfoMapper">
	<!-- 유저 정보 생성 -->
	<insert id="infoCreate" parameterType="com.co.kr.domain.InfoDomain">
		INSERT INTO jsp.information (
			mb_id,
			file_name,
			file_path,
			mb_name,
			mb_addr,
			mb_zipcode
		)
		VALUES(
			#{mbId},
			DEFAULT,
			DEFAULT,
			DEFAULT,
			DEFAULT,
			DEFAULT
		)
	</insert>
	
	<!-- 유저 정보 읽기, 업데이트, 삭제 -->
	<select id="infoSelect" resultType="com.co.kr.domain.InfoDomain" parameterType="hashMap">
		SELECT * FROM jsp.information WHERE mb_id=#{mbId}
	</select>
	
	<update id="infoUpdate"  parameterType="com.co.kr.domain.InfoDomain">
		UPDATE jsp.information SET
			mb_id=#{mbId},
			mb_name=#{mbName},
			mb_addr=#{mbAddr},
			mb_zipcode=#{mbZipCode}
		WHERE mb_id=#{mbId}
	</update>
	
	<delete id="infoRemove" parameterType="hashMap">
		DELETE FROM jsp.information WHERE mb_id=#{mbId}
	</delete>

	<!-- 프로필 이미지 업로드 및 업데이트 -->
	<insert id="profileImgUpload" parameterType="com.co.kr.domain.InfoDomain">
		INSERT INTO jsp.information (
			mb_id,
			file_name,
			file_path
		)
		VALUES (
			#{mbId},
			#{fileName}
			#{filePath}
		)
	</insert>
</mapper>